* {
  margin: 0;
}
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

/* ------------Header-------------- */
header {
  background-color: #1f2937;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 46px 200px 100px 200px;
}
.text {
  max-width: 44ch;
}
.link,
.text,
.btn,
.sign-btn {
  font-size: 18px;
  color: #e5e7eb;
}
.title,
.text,
.btn {
  margin: 5px 0px;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.logo,
.author {
  font-size: 24px;
}
.logo,
.title,
.sign-header,
.sign-text,
.copyright {
  color: #f9faf8;
}
.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 46px 200px 100px 200px;
}
.title {
  font-size: 48px;
  font-weight: bold;
  padding-right: 8px;
}
.btn,
.sign-btn {
  background-color: #3882f6;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 90px;
  cursor: pointer;
}
.sign-btn {
  border: 2px solid #f9faf8;
}

/* ------------Header-------------- */

/* ------------Main-------------- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote,
.info-header {
  font-size: 36px;
  color: #1f2937;
}
.info-header {
  font-weight: bold;
  margin: 50px 0;
}
.info-contanier {
  display: flex;
  gap: 45px;
  margin-bottom: 86px;
}
.info-box {
  display: flex;
  flex-direction: column;
}
.item {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 10%;
}
.sub-text {
  max-width: 18ch;
  margin-top: 8px;
  color: #1f2937;
}
.quote-section {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 64px 200px;
}
.quote {
  font-weight: 300;
  font-style: italic;
  padding: 6%;
}
.author {
  align-self: flex-end;
}
.Sign-up-section {
  background-color: #3882f6;
  width: 50%;
  height: 25%;
  margin: 100px 0;
  border-radius: 8px;
}
.sign-up-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
.col {
  display: flex;
  flex-direction: column;
}
/* ------------Main-------------- */
/* ------------Footer-------------- */
footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}

/* ------------Footer-------------- */
