* {
  margin: 0;
}
body {
  height: 100vh;
  font-family: Tahoma, sans-serif;
}

/* ------------Header-------------- */
header {
  background-color: #1f2937;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 46px 200px 100px 200px;
}
.link,
.text,
.btn {
  font-size: 18px;
  color: #e5e7eb;
}
.title,
.text,
.btn {
  margin: 5px 0;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.logo {
  font-size: 24px;
}
.logo,
.title {
  color: #f9faf8;
}
.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 46px 200px 100px 200px;
}
.title {
  font-size: 48px;
  font-weight: 900;
}
.btn {
  background-color: #3882f6;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 90px;
  cursor: pointer;
}

/* ------------Header-------------- */

/* ------------main-------------- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 50px 0;
}
.info-contanier {
  display: flex;
  gap: 20px;
}
.info-box {
  display: flex;
  flex-direction: column;
}
.item {
  width: 100px;
  height: 100px;
  border: 3px solid #3882f6;
  border-radius: 10%;
}
.sub-text {
  max-width: 18ch;
  margin-top: 8px;
  color: #1f2937;
}
/* ------------main-------------- */
